@model AAC.AppMvc.ViewModels.ProviderViewModel

@{
    ViewBag.Title = "Provider New";
}

<h2>@ViewBag.Title</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.Partial("_ErrorSummary")

        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Document, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeProvider, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.RadioButtonFor(m => m.TypeProvider, "1", new { @checked = true }) Physical Person <br/>
                @Html.RadioButtonFor(m => m.TypeProvider, "2") Legal Person
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.CheckBoxFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <h4>Address</h4>
        <hr/>

        @Html.Partial("_Address")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a class="btn btn-info" href="@Url.Action("Index", "Providers")">Return</a>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        SearchZip();
    </script>
}