@using AAC.AppMvc.Extensions
@model IEnumerable<AAC.AppMvc.ViewModels.ProductViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.Image" alt="@item.Image" style="width: 70px; height: 100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.Name)
                </td>
                <td>
                    @item.Amount.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" href="@Url.Action("Details", "Products", new {id = item.Id})"><spam class="glyphicon glyphicon-search"></spam></a>

                    @Html.ActionLink("Edition", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }).AllowExibition("Product", "Edition")

                    <a class="btn btn-info" href="@Url.AllowWithExibition("Edit", "Products", new {id = item.Id},"Product", "Edition")"><spam class="glyphicon glyphicon-pencil"></spam></a>

                    @{
                        if (this.AllowExibition("Product", "Delete"))
                        {
                            <a class="btn btn-danger" href="@Url.Action("Delete", "Products", new {id = item.Id})"><spam class="glyphicon glyphicon-trash"></spam></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
